body{
	background-color: #0e153a;
}

.header{
	height: 200px;
	width: 100%;
	position: relative;
	display: flex;
}

.header__ellipse{
	position: absolute;
	width: 102px;
	height: 102px;
	border-radius: 50%;
	left: 474px;
	top: 40px;
	background: #3D5AF1;
	z-index: -1;
}

.header__rec{
	position: absolute;
	width: 534px;
	height: 102px;
	left: -10px;
	top: 40px;
	background: #3D5AF1;
	z-index: -1;
}

.header__title{
	position: absolute;
	width: 433px;
	height: 79px;
	left: 50px;
	top: 50px;

	font-family: 'Roboto Mono', monospace;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	line-height: 79px;
	text-decoration: none;
	color: #FFFFFF;
	z-index: 0;
	/*background-color: #3D5AF1;*/
}

.container {
	display: grid;
	grid-gap: 40px;
	grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
	grid-auto-rows: 300px;
}

.container > div > .skinImage{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: relative;
}

.skinImage{
	border-radius: 10px;
	padding: 5px;
	position: relative;
}

.title{
	display: none;
	position: absolute; 
}

.container > div:hover{
	transform: scale(1.1);
}

.container > div:hover .title{
	display: block;
	text-align: center;
}

.container > div:hover .skinImage{
	opacity: 0.5;

}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #c5e3f6;
}

.footer{
	height: 100px;
	position: relative;
	text-align: center;
}

.footer > button{
	margin-top: 30px;
	width: 200px;
  	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	text-align: center;
}

button:hover {
	background-color:#5cbf2a;
}


/* The Modal (background) */
.modal {
    display: none !important; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}